@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://i.ibb.co/JkN9CWy/29-Sem-T-tulo-20240310105552.png);
    background-attachment: fixed;
}

header{
    position: fixed;
    z-index: 10;
    width: 95vw;
    height: 80px;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: rgb(195, 195, 195);
    display: flex;
    justify-content: space-between;
}

img{
    padding: 10px;
    border-radius: 10px;
}

main{
    position: relative;
    top: 130px;
    border-radius: 10px;
    max-width: 700px;
    height: 100%;
    margin: auto;
    padding: 50px 20px;
    background-color: rgb(228, 228, 228);
    border: solid 2px #000;
}
div{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a{
    text-decoration: none;
    width: 100px;

    text-align: center;
}

a:hover{
    border: solid 2px #000;
}

& a:visited{
    color: black;
}


h2{
    margin:20px;
    color: rgb(57, 57, 57);
}

h3{
    margin:20px;
    text-decoration: underline;
    color: rgb(57, 57, 57);
}

p{
    text-indent: 40px;
}

